<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wpf1.Properties.Settings.GymConnectionString" connectionString="Data Source=DESKTOP-8GJEVUU\SQLEXPRESS01;Initial Catalog=Gym;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="GymEntities" connectionString="metadata=res://*/GymModel.csdl|res://*/GymModel.ssdl|res://*/GymModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8GJEVUU\SQLEXPRESS01;initial catalog=Gym;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>